---
import Container from "@components/Container.astro";
import GhostLogo from "@components/GhostLogo.astro";
import Link from "@components/Link.astro";
---

<header>
  <a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:top-2 focus:left-2 focus:z-50 focus:px-4 focus:py-2 focus:bg-white focus:text-black dark:focus:bg-black dark:focus:text-white focus:rounded">Skip to main content</a>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false} aria-label="Home">
        <div class="font-semibold flex items-center gap-2">
          <GhostLogo width={30} height={30} />
        </div>
      </Link>
      <nav class="flex gap-1 font-mono text-sm">
        <Link href="/blog">
          blog
        </Link>
        <span class="text-black/30 dark:text-white/30">
          {`/`}
        </span>
        <Link href="/projects">
          projects
        </Link>
      </nav>
    </div>
  </Container>
</header>
